<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KeblerCoin</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <!-- Poping Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
  </head>
  <body>
      <div class="hero">
          <img src="/static/triangle-top.png" class="triangle1" alt="triangle">
          <img src="/static/triangle-left.png" class="triangle2" alt = "triangle down">
          <img src="/static/circle.png" class="circle" alt = "circle">
          <nav>
              <img src="/static/logocoin.png" class = "logo" alt = "logo">
              <ul>
                  
                  <li><a href="/" class="hiddenforphone">Home</a></li>
                  <li><a href="/buycoin" class="hiddenforphone">🟡Contract</a></li>
                  <li><a href="https://discord.gg/jrgQKT2Eyu" class="hiddenforphone">🟣Discord</a></li>
                  <li><a href="https://t.me/+3KW2qM7v0VhkZTll" class="hiddenforphone">🔵Telegram</a></li>
                  <li><a href="/" class="hiddenforphone">🌐EN/TH&nbsp&nbsp</a></li>
                
              </ul>
              <a href="/static/KeblerCoin Whitepaper V1.0(EN).pdf" class="exampleClass" download><div class="blacktext">White Paper</div></a>
          </nav>

          <div class="row">
              <div class="col-1">
                  <img src="/static/kepler.png">
                  <img src="/static/elements.png" class="elements">
              </div>
              <div class="col-2">
                  <h1>Hello👋<br><span>Kebler</span>Coin</h1>
                  <p>Kebler Coin was inspired by Kepler, the most Earth-like planet.<br> 
                    Which the plan of this coin will develop this coin No transfer fee (gas) <br> 
                    And there are other plans for the future.<br>

                      


                      <div class="yellow">(You can buy this coin by using Pancakeswap)</div>
                      
                      <h3>🎉Join to  <a href="https://discord.gg/jrgQKT2Eyu" class="community">Discord</a> or <a href="https://t.me/+3KW2qM7v0VhkZTll" class="community">Telegram</a> to get free airdrop!!</h3>
                  </p>
                      <a href="https://poocoin.app/tokens/0x0b1ff25171a1b43c03f30b5814475ba17e6e5f37" class="btn">Current price</a> <a href="https://bscscan.com/token/0x0b1Ff25171a1b43c03f30B5814475ba17E6e5F37">or Bscscan</a>
                      <br><br><br>
                      <div class="yellow"><a href="/"><center>🌐EN/TH🌐</center></a></div>
            </div>
      </div>
  </body>
</html>